# Web app
APP_PORT=3000
NEXT_PUBLIC_APP_NAME="Spell Together"

# PostgreSQL
POSTGRES_USER=spelltogether
POSTGRES_PASSWORD=CHANGEME
POSTGRES_DB=spelltogether
DATABASE_URL=postgresql://spelltogether:CHANGEME@localhost:5432/spelltogether