.app {  
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.wordList {
  display: flex;
  flex: 1 0 200px;
  min-width: 300px;
}

.wordList-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border: 1px solid #e6e6e6;
  border-radius: .5em;
  padding: 1em 1.5em;
  margin: 1em;
  height: auto;
}

.wordList-heading {
  margin: 0 0 1em;
}

.wordList-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.wordList-listItem {
  margin: .25em 0;
  border-bottom: 1px solid #e6e6e6;
  max-width: 8em;
}

.controls {
  padding: 2em 0;
  flex: 1 0 200px;
  text-align: center;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
}

.controls input[type="text"] {
  display: block;
  text-align: center;
  border: none;
  color: #facd04;
  font-size: 2em;
  font-weight: 'bold';
  font-size: '32px';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.controls-buttonHolder {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.controls-button {
  border: 1px solid #e6e6e6;
  border-radius: 2em;
  padding: .5em 1em;
  color: black;
  margin: 0 1em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}

.controls-button--refresh {
  height: 1.5em;
  padding: .5em .5em .3em;
}

.hive {
  width: 75%;
  max-width: 400px;
  margin: 1.5em auto 2em;
}
